*{
    box-sizing: border-box;
    margin: 0;
}

button{
    border-style: none;
}

.line-button{
    font-size: 32px;
    padding: 24px;
    transform: translate(500%,300%);
    border-bottom: 2px solid #5fdd;
    cursor: pointer;
}